{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
	    <meta name=description content="IE=edge">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>CHATRU</title>
        <link rel = "icon" href = 
"{% static 'photo/6744.jpg' %}" 
        type = "image/x-icon">
        <link rel="stylesheet" href="{% static 'css/passreset.css' %}" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="adv">
      <h1>CHATRU</h1>
      <p>THE ASYNCHRONOUS CHAT APPLICATION</p>
  </div>
    <section>{% block content %}
      <h1>Forgot your password?</h1>
      <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
    
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send Link!">
      </form>
    {% endblock %}
  </section>
  </body>
</html>
