.head{
    font-size: xx-large;
    padding-top: 2rem;
}
.signupbtn{
    float: left;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 0%;
    margin-right: 5%;
}
form,h1,p{
    text-align: center;
    color:#fff;
    vertical-align: middle;
    margin: 2%;
}
.loginblock{
    left      : 50%;
    transform : translate(-50%);
    border:3px solid #f2f2f2;
    border-radius:10px ;
    position: fixed;
}
h1{
    color:#fff;
    text-decoration: underline  aquamarine;
}
ul {  
  list-style-type: none;  
  margin: 0;  
  padding: 0px;  
  overflow: hidden;
  color:red;   
} 
li {  
  float: right;
  color:red;   
  padding:0.9rem;  
  text-decoration: underline rgb(230, 226, 226);
  font-size: 12px;
  font-weight: bold;
}
a{
    text-decoration: none;
    color:#fff;
}   
    .errorlist{
        float:right;
        color:#fff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .signup{
        border:2px solid black;
        font-weight: bold;
        color:black;
    }
body{
background-repeat: no-repeat;
background-size:cover;
max-width: 100%;
max-height:100%;
}
#id_username,#id_password{
    opacity: 0.6;
    border-radius: 5px;
    margin-left: 2em;
    margin-right: 2em;
    outline:none;
    height:2rem;
    width:15rem;
}
.logbtn{
    background: none;
    outline:none;
    border:2px solid aquamarine;
    font-weight: bold;
    float:left;
    color:aquamarine;
    margin-left: 5%;
}
.forpas{
    float:right;
    padding-right: 5%;
}
