{% load static %}
<html>
<head>
  <meta charset=utf-8>
	    <meta name=description content="IE=edge">
        <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css">
  <script
        src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
        crossorigin="anonymous"></script>
        <title>CHATRU</title>
        <link rel = "icon" href = 
"{% static 'photo/6744.jpg' %}" 
        type = "image/x-icon">
  <script src="https://kit.fontawesome.com/14ac1f37b0.js" crossorigin="anonymous"></script>
</head>
<body>
  {% block header %}
    <nav class="navbar">
      <div class="container">
        <div class="com">
          <h1>CHATRU</h1>
          <br><small>THE ASYNCHRONOUS CHAT APP</small>
        </div>
        <div class="navmenu" id="navmenu">
<div><a href="{% url 'home' %}">Home</a></li></div>
<div><a class="chat" href="chat">Chat</li></a> </div>
<div><form method="get" action="/search"><input class="searchin" type="text" name="query" ></input><button class="searchbtn" type="submit"><i class="fas fa-search"></i></button></form></div>
      </div>
      <div id="toggle" class="tog">
        <a><i class="fa fa-bars"></i></a>
    </div>
    </div>
  </nav>
{% endblock %}
<script>
  $(document).ready(function(){
            $('#toggle').click(function(){
                $('#navmenu').toggleClass('active');
            });
        });
</script>
</body>
</html>